# Data Analyst - Challenge

# Supply Chain Cost Analysis using python and excel.

In [321]:
# import pandas and numpy library 
import pandas as pd
import numpy as np
import math

In [323]:
# order report
order_report = pd.read_csv("C:/Users/Mankirat/Downloads/Company X - Order Report.xlsx - Sheet1.csv")
# SKU master 
sku_master = pd.read_csv("C:/Users/Mankirat/Downloads/Company X - SKU Master.xlsx - Sheet1.csv")
# Pincodes Zones
pincode_zones = pd.read_csv("C:/Users/Mankirat/Downloads/Company X - Pincode Zones.xlsx - Sheet1.csv")
# Couries Invoice
courier_invoice = pd.read_csv("C:/Users/Mankirat/Downloads/Courier Company - Invoice.xlsx - Sheet1.csv")
# courier rates
courier_rates = pd.read_csv("C:/Users/Mankirat/Downloads/Courier Company - Rates.xlsx - Sheet1.csv")

In [325]:
#marging order report with SKU Master 
weight=pd.merge(order_report,sku_master)
weight

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
396     2001806229  8904223818942        1.0         133
397     2001806229  8904223818850        1.0         240
398     2001806226  8904223818850        2.0         240
399     2001806210  8904223816214        1.0         120
400     2001806210  8904223818874        1.0         100

[401 rows x 4 columns]

In [327]:
# checking null values 
weight.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
Weight (g)       0
dtype: int64

In [329]:
#adding coloum
weight['total weight']=weight['Order Qty']*weight['Weight (g)']
#weight per order 
weight_per_order=weight.groupby('ExternOrderNo')['total weight'].sum().reset_index()

In [331]:
#checking 
weight_per_order

     ExternOrderNo  total weight
0       2001806210         220.0
1       2001806226         480.0
2       2001806229         500.0
3       2001806232        1302.0
4       2001806233         245.0
..             ...           ...
119     2001821995         477.0
120     2001822466        1376.0
121     2001823564         672.0
122     2001825261        1557.0
123     2001827036        2176.0

[124 rows x 2 columns]

In [333]:
#Converting weight grams to kilograms 
weight_per_order['Total Weight_KG']=weight_per_order['total weight']/1000

In [335]:
#Converting weight grams to kilograms 
weight_per_order

     ExternOrderNo  total weight  Total Weight_KG
0       2001806210         220.0            0.220
1       2001806226         480.0            0.480
2       2001806229         500.0            0.500
3       2001806232        1302.0            1.302
4       2001806233         245.0            0.245
..             ...           ...              ...
119     2001821995         477.0            0.477
120     2001822466        1376.0            1.376
121     2001823564         672.0            0.672
122     2001825261        1557.0            1.557
123     2001827036        2176.0            2.176

[124 rows x 3 columns]

In [337]:
#checking total weight for slab 
weight_per_order.max()

ExternOrderNo      2.001827e+09
total weight       3.080000e+03
Total Weight_KG    3.080000e+00
dtype: float64

In [339]:
# Function to determine the weight slab
def determine_weight_slab(weight):
    if weight <= 0.5:
        return 0.5
    else:
        return np.ceil(weight * 2) / 2

In [341]:
# adding new column 
weight_per_order['Weight_slab_kg']=weight_per_order['Total Weight_KG'].apply(determine_weight_slab)

In [343]:
weight_per_order

     ExternOrderNo  total weight  Total Weight_KG  Weight_slab_kg
0       2001806210         220.0            0.220             0.5
1       2001806226         480.0            0.480             0.5
2       2001806229         500.0            0.500             0.5
3       2001806232        1302.0            1.302             1.5
4       2001806233         245.0            0.245             0.5
..             ...           ...              ...             ...
119     2001821995         477.0            0.477             0.5
120     2001822466        1376.0            1.376             1.5
121     2001823564         672.0            0.672             1.0
122     2001825261        1557.0            1.557             2.0
123     2001827036        2176.0            2.176             2.5

[124 rows x 4 columns]

In [345]:
#Merge with pincode zones to get the delivery zone 
order_zone=pd.merge(weight_per_order,courier_invoice,left_on='ExternOrderNo', right_on='Order ID', how='left')
order_zone=pd.merge(order_zone,pincode_zones,left_on=['Warehouse Pincode', 'Customer Pincode'], right_on=['Warehouse Pincode', 'Customer Pincode'], how='left')

In [347]:
# run to check the code
order_zone

,ExternOrderNo,total weight,Total Weight_KG,Weight_slab_kg,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,2001806210,220.0,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,2001806226,480.0,0.480,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,2001806229,500.0,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,2001806232,1302.0,1.302,1.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,2001806233,245.0,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,477.0,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
170,2001822466,1376.0,1.376,1.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
171,2001823564,672.0,0.672,1.0,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
172,2001825261,1557.0,1.557,2.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
173,2001827036,2176.0,2.176,2.5,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [349]:
# checking total number of duplicates 
order_zone.duplicated().sum()

50

In [351]:
#droping duplicated and reseting index
order_zone.drop_duplicates(inplace=True)
order_zone.reset_index(drop=True,inplace=True)

In [355]:
order_zone

,ExternOrderNo,total weight,Total Weight_KG,Weight_slab_kg,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,2001806210,220.0,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,2001806226,480.0,0.480,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,2001806229,500.0,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,2001806232,1302.0,1.302,1.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,2001806233,245.0,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
120,2001822466,1376.0,1.376,1.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
121,2001823564,672.0,0.672,1.0,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
122,2001825261,1557.0,1.557,2.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
123,2001827036,2176.0,2.176,2.5,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [357]:
# merging order_zone with courier_rates 
order_rates = pd.merge(order_zone, courier_rates, how='cross')

In [359]:
order_rates

,ExternOrderNo,total weight,Total Weight_KG,Weight_slab_kg,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,...,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,2001806210,220.0,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
1,2001806226,480.0,0.480,0.5,1091117222065,2001806226,0.68,121003,723146,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
2,2001806229,500.0,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
3,2001806232,1302.0,1.302,1.5,1091117222124,2001806232,1.30,121003,507101,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
4,2001806233,245.0,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
120,2001822466,1376.0,1.376,1.5,1091121305541,2001822466,1.10,121003,342301,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
121,2001823564,672.0,0.672,1.0,1091121666133,2001823564,0.70,121003,492001,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
122,2001825261,1557.0,1.557,2.0,1091121981575,2001825261,1.60,121003,517128,d,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
123,2001827036,2176.0,2.176,2.5,1091122418320,2001827036,1.60,121003,173213,b,...,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [361]:
# Merge with Courier Rates to get the rates
order_with_rates = pd.merge(order_zone, courier_rates, how='cross')
# Calculate the expected charges
def calculate_expected_charges(row):
    if row['Type of Shipment'] == 'Forward charges':
        fixed_col = f"fwd_{row['Zone_y']}_fixed"
        additional_col = f"fwd_{row['Zone_y']}_additional"
    elif row['Type of Shipment'] == 'Forward and RTO charges':
        fixed_col = f"fwd_{row['Zone_y']}_fixed"
        additional_col = f"fwd_{row['Zone_y']}_additional"
        rto_fixed_col = f"rto_{row['Zone_y']}_fixed"
        rto_additional_col = f"rto_{row['Zone_y']}_additional"
    else:
        return 0
    
    # Calculate the number of additional slabs
    additional_slabs = (row['Weight_slab_kg'] - 0.5) / 0.5
    
    # Calculate the total charges
    if row['Type of Shipment'] == 'Forward charges':
        total_charges = row[fixed_col] + (additional_slabs * row[additional_col])
    else:
        total_charges = row[fixed_col] + (additional_slabs * row[additional_col]) + row[rto_fixed_col] + (additional_slabs * row[rto_additional_col])
    
    return total_charges

order_with_rates['Expected Charge (Rs.)'] = order_with_rates.apply(calculate_expected_charges, axis=1)

In [363]:
order_with_rates

,ExternOrderNo,total weight,Total Weight_KG,Weight_slab_kg,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,...,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional,Expected Charge (Rs.)
0,2001806210,220.0,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0
1,2001806226,480.0,0.480,0.5,1091117222065,2001806226,0.68,121003,723146,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,45.4
2,2001806229,500.0,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,45.4
3,2001806232,1302.0,1.302,1.5,1091117222124,2001806232,1.30,121003,507101,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,135.0
4,2001806233,245.0,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0
120,2001822466,1376.0,1.376,1.5,1091121305541,2001822466,1.10,121003,342301,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,89.6
121,2001823564,672.0,0.672,1.0,1091121666133,2001823564,0.70,121003,492001,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,176.3
122,2001825261,1557.0,1.557,2.0,1091121981575,2001825261,1.60,121003,517128,d,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,355.5
123,2001827036,2176.0,2.176,2.5,1091122418320,2001827036,1.60,121003,173213,b,...,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,278.6

In [365]:
# making a new column of Difference(Rs)
order_with_rates['Difference(Rs)']=order_with_rates['Expected Charge (Rs.)']-order_with_rates['Billing Amount (Rs.)']

In [367]:
order_with_rates

,ExternOrderNo,total weight,Total Weight_KG,Weight_slab_kg,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,...,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional,Expected Charge (Rs.),Difference(Rs)
0,2001806210,220.0,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0,-141.5
1,2001806226,480.0,0.480,0.5,1091117222065,2001806226,0.68,121003,723146,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,45.4,-44.8
2,2001806229,500.0,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,45.4,-44.8
3,2001806232,1302.0,1.302,1.5,1091117222124,2001806232,1.30,121003,507101,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,135.0,0.0
4,2001806233,245.0,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0,-28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,33.0,-12.4
120,2001822466,1376.0,1.376,1.5,1091121305541,2001822466,1.10,121003,342301,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,89.6,-45.4
121,2001823564,672.0,0.672,1.0,1091121666133,2001823564,0.70,121003,492001,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,176.3,3.5
122,2001825261,1557.0,1.557,2.0,1091121981575,2001825261,1.60,121003,517128,d,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,355.5,10.5
123,2001827036,2176.0,2.176,2.5,1091122418320,2001827036,1.60,121003,173213,b,...,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5,278.6,160.7

In [369]:
result= order_with_rates[['Order ID', 'AWB Code', 'Total Weight_KG', 'Weight_slab_kg', 'Charged Weight', 'Zone_x','Zone_y','Type of Shipment','Expected Charge (Rs.)', 'Billing Amount (Rs.)','Difference(Rs)']].round(2)

# Saving the result DataFrame to an Excel file
# result.to_excel('Result.xlsx', index=False)

In [371]:
result

,Order ID,AWB Code,Total Weight_KG,Weight_slab_kg,Charged Weight,Zone_x,Zone_y,Type of Shipment,Expected Charge (Rs.),Billing Amount (Rs.),Difference(Rs)
0,2001806210,1091117221940,0.22,0.5,2.92,b,b,Forward charges,33.0,174.5,-141.5
1,2001806226,1091117222065,0.48,0.5,0.68,d,d,Forward charges,45.4,90.2,-44.8
2,2001806229,1091117222080,0.50,0.5,0.71,d,d,Forward charges,45.4,90.2,-44.8
3,2001806232,1091117222124,1.30,1.5,1.30,d,d,Forward charges,135.0,135.0,0.0
4,2001806233,1091117222135,0.24,0.5,0.78,b,b,Forward charges,33.0,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.48,0.5,0.50,d,b,Forward charges,33.0,45.4,-12.4
120,2001822466,1091121305541,1.38,1.5,1.10,d,b,Forward charges,89.6,135.0,-45.4
121,2001823564,1091121666133,0.67,1.0,0.70,d,d,Forward and RTO charges,176.3,172.8,3.5
122,2001825261,1091121981575,1.56,2.0,1.60,d,d,Forward and RTO charges,355.5,345.0,10.5
123,2001827036,1091122418320,2.18,2.5,1.60,b,e,Forward charges,278.6,117.9,160.7

# Classified each order into 'Correct', 'Overcharged', or 'Undercharged' by comparing the actual billing amount with the expected charge."

In [374]:
result['Billing_stutus'] = 'Correct'
result.loc[result['Difference(Rs)'] < 0, 'Billing_stutus'] = 'Overcharged'
result.loc[result['Difference(Rs)'] > 0,'Billing_stutus'] = 'Undercharged'

In [376]:
result

,Order ID,AWB Code,Total Weight_KG,Weight_slab_kg,Charged Weight,Zone_x,Zone_y,Type of Shipment,Expected Charge (Rs.),Billing Amount (Rs.),Difference(Rs),Billing_stutus
0,2001806210,1091117221940,0.22,0.5,2.92,b,b,Forward charges,33.0,174.5,-141.5,Overcharged
1,2001806226,1091117222065,0.48,0.5,0.68,d,d,Forward charges,45.4,90.2,-44.8,Overcharged
2,2001806229,1091117222080,0.50,0.5,0.71,d,d,Forward charges,45.4,90.2,-44.8,Overcharged
3,2001806232,1091117222124,1.30,1.5,1.30,d,d,Forward charges,135.0,135.0,0.0,Correct
4,2001806233,1091117222135,0.24,0.5,0.78,b,b,Forward charges,33.0,61.3,-28.3,Overcharged
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.48,0.5,0.50,d,b,Forward charges,33.0,45.4,-12.4,Overcharged
120,2001822466,1091121305541,1.38,1.5,1.10,d,b,Forward charges,89.6,135.0,-45.4,Overcharged
121,2001823564,1091121666133,0.67,1.0,0.70,d,d,Forward and RTO charges,176.3,172.8,3.5,Undercharged
122,2001825261,1091121981575,1.56,2.0,1.60,d,d,Forward and RTO charges,355.5,345.0,10.5,Undercharged
123,2001827036,1091122418320,2.18,2.5,1.60,b,e,Forward charges,278.6,117.9,160.7,Undercharged

# this summary table breaks down the billing accuracy for all orders. It classifies each order into one of three categories — 'Correct Charges', 'Overcharged', or 'Undercharged' — based on the difference between the actual billed amount and the expected charge.

In [379]:
summary = pd.DataFrame({
    'Category': ['Correct Charges', 'Overcharged', 'Undercharged'],
    'Order Count': [
        (result['Billing_stutus'] == 'Correct').sum(),
        (result['Billing_stutus'] == 'Overcharged').sum(),
        (result['Billing_stutus'] == 'Undercharged').sum()
    ],
    'Amount (Rs.)': [
        result[result['Billing_stutus'] == 'Correct']['Billing Amount (Rs.)'].sum(),
        abs(result[result['Billing_stutus'] == 'Overcharged']['Difference(Rs)'].sum()),
        result[result['Billing_stutus'] == 'Undercharged']['Difference(Rs)'].sum()
    ]
})

In [381]:
summary

          Category  Order Count  Amount (Rs.)
0  Correct Charges           22        1826.9
1      Overcharged           79        4426.6
2     Undercharged           23         630.6

In [393]:
# Saving the  DataFrame to an Excel file
summary.to_excel('summaryy.xlsx', index=False)